.input-wrap {
margin-bottom: 12px;  
}

.input-wrap > * {
display: block;
}

.container {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    gap: 1rem;
    margin-top: 1rem;
}

.container > div {
    background: #dddddd;
    padding: 1rem;
    min-width: 300px;
}